<section class="hero full-width">
	<div class="flex">
		<div class="col-slogan flex flex--center order-last">
			<div class="slogan-container">
				<h1 class="title">BIG NEWS!</h1>
				<h3 class="sub-title">ANNOUNCING: Triaset Rebranding!</h3>
				<p>We are thrilled to unveil our refreshed brand identity. While this is a significant milestone to us,
					rest assured, or core beliefs remain unchanged.</p>
				<p>
					Over the past few months, we have poured our heart and soul into creating a new image that would
					professionally depict who we are as a team.</p>
				<a href="{{site.baseurl}}/ceo/">
					<button>Read more</button>
				</a>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
</section>