

<div class="job-modal-bg-1">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>

		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Creative Designer</h1>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<div>We are looking for a high-performance individual to help us meet our revenue growth targets by keeping our company competitive and innovative. You job is to identify sales leads, pitch our solution to new clients and maintain good working relationship with new contacts. </div>
				<div>If you are a hard-working professional and would like to take a challenge in a local Fintech company, we are a great place to get ahead. Apply today!</div>
			</ul>
			<hr>
			<h2>Key Duties And Responsibilities</h2>
			<ul>
				<li>Prepares work to be accomplished by gathering information and materials.</li>
				<li>Plans concept by studying information and materials.</li>
				<li>Illustrates concept by designing rough layout of art and copy regarding arrangement, size, type size and style, and related aesthetic concepts.</li>
				<li>Obtains approval of concept by submitting rough layout for approval.</li>
				<li>Prepares finished copy and art by operating typesetting, printing, and similar equipment; and purchasing from vendors.</li>
				<li>Prepares final layout by marking and pasting up finished copy and art.</li>
				<li>Creation of designing engaging content assets for external and internal campaigns, including Print, Office Stationaries, Digital Graphics, Motion Graphics, Animations, Photography, Videography, infographics, social media assets, etc. using PS / AI - to drive customer growth and improve company branding, digitally or offline. </li>
				<li>Align with Marketing Department to produce content necessary for digital marketing strategies including content marketing and automation.</li>
				<li>Deliver design that put emphasis on user experience and Triaset Brand projection.</li>
				<li>Provide ad hoc design support for key Content & Campaigns presentations.</li>
				<li>Develop and execute strong creative works and have great eyes for details.  </li>
			</ul>
			<hr>
			<h2>Skills & Proficiencies / Requirements</h2>
			<ul>
				<li>A strong portfolio demonstrating a range of design skills and awareness of industry trends.</li>
				<li>A good understanding of all key delivered channels across print, web, digital and video. Other forms of design disciplines is a plus.</li>
				<li>Adobe Creative Suite proficiency, in particular Photoshop, Illustrator, InDesign, and/or other design and prototyping tools. </li>
				<li>Excellent PowerPoint skills.</li>
				<li>An excellent understanding of what makes communications effective.</li>
				<li>Good all-round communication skills, including fluent written and spoken English.</li>
				<li>Good knowledge on attractive, contemporary, and functional designs.</li>
				<li>Ability to interact, communicate and present ideas. </li>
				<li>Ability to challenge stakeholders.</li>
				<li>Highly proficient in all design aspects. </li>
				<li>Ability to write web pages in a combination of codes such as HTML, JavaScript, and CSS as well as experience art directing photo shoots is a plus point.  </li>
				<li>Receptive of target audiences design stimuli.</li>
				<li>Established design methodology to suite changing environments.</li>
				<li>Strong graphic design skills</li>
				<li>Layout skills</li>
				<li>Analytical skills</li>
				<li>Analytical skills</li>
				<li>Creativity</li>
				<li>Flexibility</li>
				<li>Attention to detail</li>
				<li>Deadline-oriented</li>
				<li>Desktop publishing tools and graphic design software</li>
				<li>Acute vision</li>
				<li>Time-management skills</li>
				<li>Communication skills</li>
				<li>Handles rejection</li>

			</ul>
			<hr>
			<h2>Education And Experience Requirements</h2>
			<ul class="lists">
				<li>Possesses at least a Post Graduate Diploma or Professional Degree in Art/ Graphic Design/Creative Multimedia/Advertising/or equivalent experiences. </li>
				<li>Three to five years of experience in graphic design</li>
			</ul>
			<br>
			<hr>
			<div class="resume">
			<a href="mailto:HR@Triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>

		</div>


	<!-- end of Job discription -->



	</div>
</div>
