

<div class="job-modal-bg-2">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>

		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Application Consultant</h1>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<div>We are hiring Application Consultants where you would be involved in the analysis of business requirements and implementations of Investment & Treasury Solutions for our portfolio of clients.</div>
			</ul>
			<hr>
			<h2>Job Briefs</h2>
			<ul>
				<li>Support external clients and internal team members in the implementation of software solutions.</li>
				<li>Involve in the analysis and mapping of business requirements and implementations of Investment & Treasury Solutions for our local and overseas clients.</li>
				<li>Responsible in quality assurance of the solutions prior delivering it to our clients.</li>
				<li>Provide end user training and conduct User Acceptance Test with our clients.</li>
				<li>Support external clients and internal team members in the implementation of software solutions.</li>
				<li>Execute implementation plans and system deployment (including data migration).</li>
				<li>Coordinate and collaborate with the Project Manager and clients. </li>
				<li>Assist in executing pre-sales product demonstrations or provide assistance in scoping projects or developing proposals.</li>
			</ul>
			<hr>

			<h2>How this interesting job will benefit you</h2>
			<ul>
				<li>It gives good work-life -balance.</li>
				<li>It offers flexible working hours.</li>
				<li>You can work with specialized Treasury and Investment software experts in providing state-of-the-art solutions to
					financial institutions and large corporates.</li>
				<li>You have the opportunity to be exposed to Banking Treasury, Corporate Treasury and Investment Management industries.
				</li>
				<li>Proper training and in-house sharing will be provided by the experienced market practitioners.</li>
				<li>You will be exposed to the latest technologies and trends in IR 4.0, Fintech, and Digital Banking.</li>
				<li>Good career advancement opportunities to become Implementation Specialist, Project Co-Ordinator, Project Manager,
					Project Management Office (PMO), Pre-Sales Consultant, Business Consultant, Business Analyst or Client Support.</li>

			</ul>
			<hr>
			<h2>Requirements</h2>
			<ul class="lists">
				<li>Education: Candidate must possess at least a Diploma or bachelor’s degree.</li>
				<li>Client Service Skills: Application Consultant responsibilities including interacting with clients or external parties, so it’s important that they have strong people-facing communication skills and service oriented to manage the task successfully. </li>
				<li>Interpersonal Skills: Application Consultant often work together with external client or parties and internal team members in implementation or product demonstrations, so it’s necessary that applicants can communicate effectively at all levels. </li>
				<li>Technical / Analytical Skills: The job requires technical or analytical thinking to accurately assess a client’s needs and implement the application; therefore, Application Consultant should have good troubleshooting abilities and analytical skills on both application and business logic. This is an entry level role, so successful applicants will get training from the organization to aid them in executing their duties. But they must be fast learners to become skilled at applications, including databases.</li>
				<li>Able to work independently with minimum supervision.</li>
				<li>Applicants must be willing to travel overseas.</li>
				<li>Required language(s): English or Bahasa Malaysia.</li>
			</ul>
			<hr>
			<h2>Are you ready to make that career shift now? </h2>
			<ul>
				<div>Trust us, the positions that we offer are always on-demand and you will certainly grow with a growing software house like us. It is worth mentioning here that this opportunity    does not come often. Therefore, click ‘Apply Now,’ button and we will talk to you soon.

				</div>
			</ul>
		

			<br>
			<hr>
			<div class="resume">
			<a href="mailto:HR@Triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>

		</div>


	<!-- end of Job discription -->



	</div>
</div>
