

<div class="job-modal-bg-3">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>

		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Financial Engineer</h1>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<li>Research, plan and develop and execute various Artificial intelligence and Machine Learnings methods for data collection and acquisition so that Predictive Analytics and simulation features are available in our solutions.</li>
				<li>Manage and resolve financial issues and develop effective mathematical and statistical methods to resolve issues via our solutions.</li>
				<li>Perform and evaluate all functional and algorithms requirements and perform required financial mathematical calculations.</li>
				<li>Administer all financial risk calculations in applications and evaluate appropriate tools for same.</li>
				<li>Involve directly and/or indirectly in enhancing the system to meet new markets’ and/or clients’ requirements.</li>
				<li>Research and define the functionality in the application that should be best adopted by market and clients. </li>
				<li>Advice and assist Support, Pre-sales, Professional and Software development team members in business requirements.</li>
				<li>Perform application features’ analysis to capture the functional gaps and thereafter propose new enhanced features to close the gaps.</li>
				<li>Discussions with clients to meet clients’ actual requirements where modifications to application features are required.</li>
				<li>Writing of business specifications and coding of specific features to meet market’s actual requirements when modifications/enhancements to application are required.</li>
				<li>Coordinate tests and observe the initial use of the system to ensure that application performs as planned.  This will also include recommending solutions to problems encountered.</li>
				<li>Improve skills and knowledge in mathematics, statistics, software development life cycle, technology and business requirements.</li>
				<li>Any other tasks assigned to.</li>
				
			</ul>
			<hr>
			<h2>Roles and Responsibilities</h2>
			<ul>
				<h4>Business Rules Competencies</h4>

				<li>Conducts thorough business analysis and diagnosis of problems on issues.</li>
				<li>Forthcoming with new and current business process opinions and ideas.</li>
				<li>Takes an interest in new business and financial mathematics developments, particularly in Treasury, Investment and Risk.</li>
				<li>Deals confidently with applications and clients’ problems but seeks help when necessary.</li>
				<li>Produces complete and accurate documentation according to company standards.</li>
				<li>Demonstrates knowledge on products offering by the company and industry environment and trends.</li>
				<li>Stay abreast of general business topics and current events.</li>
				
				<h4>Job Management</h4>

				<li>Work to detailed functional specifications, bringing to Task Leader’s attention any variations.</li>
				<li>Keep supervisor aware of job status according to agreed standards.</li>
				<li>Anticipates problems and deal with them effectively, referring to Task Leader where necessary.</li>
				<li>Produces realistic detailed initial and revised estimates on assigned task.</li>
				<li>Is flexible and willing to put in additional unscheduled effort, if required.</li>
				<li>Approaches all task positively and maintains enthusiasm even when at work is routine.</li>
				<li>Produces structured and logical written work for review.</li>
				<li>Make effective and efficient use of Task Leader’s and colleagues’ experiences.</li>

				<h4>Personnel Effectiveness</h4>

				<li>Inquisitive, creative with financial mathematics and coupled with analytical and critical thinking skills to scrutinize business issues.</li>
				<li>Manages priorities and demand, both professional and personal.</li>
				<li>Display a friendly and supportive attitude and creates rapport with colleagues.</li>
				<li>Fosters and contributes to team spirit.</li>
				<li>Conveys a strong presence and present a professional image including punctuality, pressure, deadlines, loyalty, etc.</li>
				<li>Gives and receives constructive criticism and resolves points arising from review.</li>
				<li>Accepts responsibilities and seek guidance where appropriate.</li>
				<li>Require little supervision in completing assigned tasks.</li>
				<li>Continually strives to achieve higher personnel standards.</li>

				<h4>Communication</h4>
				<li>Is able to influence whilst maintaining tact and diplomacy.</li>
				<li>Plans and prepares well for meetings, presentations, and telephone conversations</li>
				<li>Contribute effectively to meetings, presentations, and training sessions</li>

				<h4>People Management</h4>
				<li>Readily accepts responsibility given.</li>

				<h4>Client Management</h4>
				<li>Understand and meet client expectation in completing the assignment.</li>
				<li>Develops and maintains working relationship with appropriate levels of client staff.</li>
				<li>Identifies changes in client requirement and communicates to Task Leader or Manager.</li>
				<li>Appreciate and understands clients’ needs.</li>
				<li>Refers any client concerns to Task Leader or Manager.</li>
				<li>Identify potential sell on opportunities and report to senior staff as appropriate</li>

				
			</ul>
			<hr>
			<h2>Qualification</h2>
			<ul class="lists">
				<li>Formal education in any areas but preferably related to Accounting, Finance, Economics, Business Administration, Computer Science, Management Information System, Mathematics, Physics, Engineering, Mathematics, Statistic, and Financial Engineering. </li>
				<li>From fresh graduate onwards</li>
				
			</ul>
			<br>
			<hr>
			<div class="resume">
			<a href="mailto:HR@Triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>

		</div>


	<!-- end of Job discription -->



	</div>
</div>
