

<div class="job-modal-bg-4">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>

		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Business Development Manager</h1>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<div>We are looking for a high-performance individual to help us meet our revenue growth targets by keeping our company competitive and innovative. You job is to identify sales leads, pitch our solution to new clients and maintain good working relationship with new contacts. </div>
				<br>
				<div>If you are a hard-working professional and would like to take a challenge in a local Fintech company, we are a great place to get ahead. Apply today!</div>
			</ul>
			<hr>
			<h2>Key Duties and Responsibilities</h2>
			
			<ul>
				<h4>SALES PLANNING</h4>
				<li>Develop and implement new sales initiatives, strategies, and programs to capture targeted names.</li>
				<li>Establish sales objectives by forecasting and developing annual sales targets for Malaysia and overseas markets.</li>
				<li>Ensure sales targets are delivered through people management, marketing alignment, performance review and constant product development.</li>
				<h4>ACCOUNT MANAGEMENT</h4>
				<li>Establish sustainable new business opportunities.</li>
				<li>Following up new business opportunities.</li>
				<li>Serve as the lead point of contract for all customer account management matters.</li>
				<li>Build and maintain strong, long-lasting client relationships.</li>
				<li>Negotiate commercial terms, contracts, and close agreement to maximize profit.</li>
				<li>Planning and coordinate with internal team working on the same account to ensure consistent service.</li>
				<li>Locates or proposes potential business deals by contacting potential partners.</li>
				<h4>SALES ADMINISTRATION </h4>
				<li>Maintain and document information of interaction with clients.</li>
				<li>Maintain data related to partners, clients, and sales activities.</li>
				<li>Provide weekly report of sales activities and communicate them to Management.</li>
				<li>Continuously develop, assess, and evaluate partner’s performance.</li>
				<li>Contribute to Business Development team effort by accomplishing related results as assigned.</li>
			</ul>
			<hr>
			<h2>Skills & Proficiencies / Requirements</h2>
			<ul>
				<li>Solution selling - ability to diagnose a customer real business issue and match our solution to those problem</li>
				<li>Proven work experience as an Account Manager, Key Account Manager and Sales Manager</li>
				<li>Ability to meet sales goals</li>
				<li>Solid knowledge of cash requirements/positions, liquidity, financial activities at an enterprise level</li>
				<li>Able to craft compelling value proposition for any prospects</li>
				<li>Must be aggressive, energetic, highly motivated and target driven</li>
				<li>Excellent sales planning</li>
				<li>Ability to communicate, present and influence credibly and effectively at all levels of the organization</li>
				<li>Patience and people oriented</li>
				<li>Full commitment to the job on hand</li>
				<li>Strong business sense</li>
				<li>Outgoing personality</li>
				<li>Punctuality when it comes to meetings</li>
				<li>Ability to work independently and in group settings</li>
				<li>Has the attitude to meet people and prospective clients continuously</li>
				<li>Sound market knowledge </li>
				<li>Good business sense</li>
				<li>Has a go-getter attitude</li>
				<li>Good time management and planning skills</li>
				<li>Plenty of initiative</li>
				<li>Good negotiation skills</li>
				<li>Proficiency in MS Office and CRM Software</li>
			</ul>
			<hr>
			<h2>Education And Experience Requirements</h2>
			<ul class="lists">
				<li>Bachelor’s degree in Finance, Accounting, Economic, Business Management or Marketing.</li>
				<li>Minimum of 5 years of working experience in Finance environment whether in a bank, a large organization, or Enterprise Resource Planning enterprise level sales experience.</li>
				<li>Committed to continuous education through workshops, seminars, and conferences.</li>
				<li>First-hand knowledge of cash management products and services offered by banks</li>
				<li>Exposed to liquidity management and accounting software in a large organization</li>
				<li>Exposed to the local and international payment methods as provided by banks</li>
				<li>Have a basic knowledge of Treasury operations and Investment markets</li>
				<li>Good knowledge of derivatives markets will be an added advantage</li>

			</ul>
			<br>
			<hr>
			<div class="resume">
			<a href="mailto:HR@Triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>

		</div>


	<!-- end of Job discription -->



	</div>
</div>
