

<div class="job-modal-bg-7">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>

		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>Technical Support Consultant</h1>
			<hr>
			<h2>Responsibilities</h2>
			<ul>
				<li>Involve in software application and reports troubleshooting and rectification of errors.</li>
				<li>Act as a first point of contact to our clients.</li>
				<li>Involve in client support on software application, databases, and infrastructure issues.</li>
				<li>Provide internal or external technical training to clients.</li>
				<li>Collaborate with development team to ensure the stability of software application and reports before delivering to our clients.</li>
				<li>Recommend solutions on how to use application on issues reported.</li>
				<li>Assist in enhancing the software application in meeting market requirements.</li>
				<li>Monitor and maintain issues in helpdesk system.</li>
			</ul>
			<hr>
			<h2>Requirements</h2>
			<ul>
				<li>Candidate must possess at least a bachelor’s degree in Computer Science/Information Technology, Financial Engineering, or its equivalents.</li>
				<li>At least 1 year of Application support or software development experiences. Fresh graduates are encouraged to apply.</li>
				<li>Experience Treasury/Investment/Insurance industry is an added advantage though not necessary.</li>
				<li>Knowledge in Microsoft SQL Server, Java, React, Microsoft .NET, VB, is an advantage.</li>
				<li>Knowledge in one of these reporting tools (SSRS, Oracle Interactive Reporting or Crystal Report) is an advantage.</li>
				<li>Database knowledge in MSSQL is an advantage.</li>
				<li>Ability to multi-task and prioritize tasks.</li>
				<li>Ability to identify problems and issues encountered and highlight to manager.</li>
				<li>Good Communication skills and interpersonal skills at all levels.</li>
				<li>Proficiency of English in written and oral communication is necessary.</li>
			</ul>
			<br>
			<hr>
			
			
			
			<div class="resume">
			<a href="mailto:HR@Triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>

		</div>


	<!-- end of Job discription -->



	</div>
</div>
