

<div class="job-modal-bg-8">

	<div class="job-modal-box">
		<div class="job-close">
			<i class="ion-android-close"></i>
		</div>

		<!-- Job discription goes here -->

		<div class="job-content col-2">
			<h1>HR & Admin Executive</h1>
			<hr>
			<h2>Summary of Position</h2>
			<ul>
				<div>We are looking for human resource executive to handle a variety of day- to-day administrative support in the implementation of human resource policies, procedures and ensure smooth operation of office administration.</div>
			</ul>
			<hr>
			<h2>Major Duties and Responsibilities</h2>
			<ul>
				<h4>Human Resources</h4>
				<li>Asssit with day-to-day operation of the HR funcitons and duties</li>
				<li>Handle recruitment process such as posting advertisement, assist our recruiters to source candidates, phone screening for shortlisting, arranging interview, employment contracts and aligned with local regulations, company policies and procedures.</li>
				<li>Implementation of HR policies and procedures followed by managers and staff.</li>
				<li>Manage the work pass application and status including monitor of the expiry dates</li>
				<li>Prepare confirmation letters and monitor contract expiry for renewals</li>
				<li>Update and remind employees on updating the daily time sheet</li>
				<li>Compile, update and manage employee records</li>
				<li>Processing payroll and benefit administration</li>
				<li>Process documentation and prepare reports relating to personnel activities (staffing, recruitment, training, grievances, performance evaluation and etc)</li>
				<li>Coordinate HR projects (meetings, training and surveys)</li>
				<li>Assess training needs to apply and monitor training programs</li>
				<li>Oversee and manage a performance appraisal system that drive high performance</li>
				<li>Perform other duties as assigned</li>
				<li>Ultimately, you should be able to ensure our HR department is organised and operates to attract, hire and maintain our employees. </li>

				<h4>Administrative</h4>
				<li>Managing the day-to-day operation of the office and dispatch.  </li>
				<li>Update, manage and renewal of company assets and contracts.</li>
				<li>Maintaining a clean and enjoyable working environment.</li>
			</ul>
			<hr>
			<h2>Requirements</h2>
			<ul class="lists">
				<li>Proven experience as an HR assistant or relevant human resources/ administrative position.</li>
				<li>PC literacy (MS Office).</li>
				<li>Basic knowledge of labor law.</li>
				<li>Excellent organization skills.</li>
				<li>Strong communication skills.</li>
				<li>Degree or Diploma in Human Resources.</li>
				<li>2- 3 years working experience in a similar capacity. </li>
			</ul>
			<br>
			<hr>
			<div class="resume">
			<a href="mailto:HR@Triaset.com?Subject=Job%20Application">Send us your resume</a>
			</div>

		</div>


	<!-- end of Job discription -->



	</div>
</div>
